
<form>

  <div class="form-fields">
    <div class="form-group">
      <label for="mortgage-homePrice">{{"Home Price" | t}}</label>
      <input type="text" id="mortgage-homePrice" class="form-control user-input" value="{{ mort_calc_amount }}">
    </div>
    <div class="form-group">
      <label for="mortgage-interestRate">{{"Interest Rate" | t}}</label>
      <input type="text" id="mortgage-interestRate" class="form-control user-input" value="{{ mort_calc_interest }}">
    </div>
    <div class="form-group">
      <label for="mortgage-years">{{"Years" | t}}</label>
      <input type="text" id="mortgage-years" class="form-control user-input" value="{{ mort_calc_term }}">
    </div>
    <div class="form-group">
      <label for="mortgage-downPayment">{{"Down Payment" | t}}</label>
      <input type="text" id="mortgage-downPayment" class="form-control user-input" value="{{ mort_calc_down_payment }}">
    </div>
  </div>
  <div class="form-group form-results">
    <p class="form-instructions">{{ "Change any combination of fields to calculate the monthly payment." | t }}</p>
    <div id="mortgageCalcResult" class="calcResult">{{"Your payment amount is" | t}} <span id="mortgage-paymentAmount"></span></div>
  </div>

</form>
