<!--Form Starts Here -->

{% if patronage_percent %}
  <script>
    window.agf_calc_patronage_percent = {{ patronage_percent }};
  </script>
{% endif %}

<form>
  <div class="form-group">
    <label for="tbxLoanAmount">{{ "Loan Amount" | t }}</label>
    <input class="form-control" id="tbxLoanAmount" placeholder="{{ "Amount" | t }}" type="text" />
  </div>

  <div class="form-group">
    <label for="tbxAnnualRate">{{ "Annual Rate" | t }}</label>
    <input class="form-control" id="tbxAnnualRate" placeholder="{{ "Annual Rate" | t }}" type="text" />
  </div>
  </div>

  <div class="form-actions">
    <button class="button green" id="btnSubmit" type="submit">{{ "Submit" | t }}</button>
    <button class="button brown" id="clearForm" type="reset">{{ "Reset"| t }}</button>
  </div>
</form>
<!--Form Ends Here -->

<!--Results Start Here -->

<div id="patronageMessage" class="form-error-message" style="display: none;">{{ "Please check your values and try again." | t }}</div>
<div class="calculator-results">
  <p>{{ "Here is your estimated Patronage Distribution:" | t }}
    <strong>
      <span data-id="estimated-patronage">{{ "ESTIMATED PATRONAGE" | t }}</span>
    </strong>
  </p>

  <p>{{ "After receipt of your distribution, patronage effectively lowers your total interest cost for the first year of your loan from" | t }}
    <strong>$<span data-id="loan-amount">XXXXX</span></strong> to:
    <strong>
      <span data-id="effective-interest-expense">{{ "EFFECTIVE INTEREST EXPENSE" | t }}</span>
    </strong>
  </p>

  <p>{{ "This effectively lowers your interest rate from" | t }}
    <strong>
      <span data-id="annual-rate">XXXX</span>
    </strong> to:
    <strong>
      <span data-id="effective-interest-rate">{{ "EFFECTIVE INTEREST RATE" | t }}</span>
    </strong>
  </p>

  <p>*{{ "Results based on 10-year average refund totals. Past performance not a guarantee of future payouts. Calculations
  do not account for time value of money or distinguish between returns made in cash and in allocated surplus. Talk to a loan
  officer for details." | t }}</p>
</div>
<!--Results End Here -->
