
<div class="amortization-calculator">

  <form>
    <div class="form-group">
      <label for="loanAmount">{{"Loan Amount" | t}}</label>
      <input type="text" id="loanAmount" class="form-control user-input" value="{{ amortization_calc_amount }}">
    </div>
    <div class="form-group">
      <label for="interestRate">{{"Interest Rate" | t}}</label>
      <input type="text" id="interestRate" class="form-control user-input" value="{{ amortization_calc_interest }}">
    </div>
    <div class="form-group">
      <label for="months">{{"Months" | t}}</label>
      <input type="text" id="months" class="form-control user-input" value="{{ amortization_calc_term }}">
    </div>

    <div class="form-actions">
      <div><input type="button" value="{{ "Calculate" | t }}" id="buttonCalculate" /></div>
    </div>

    <div class="payment-summary" style="display: none;">
      <h2>{{ "Payment Summary" | t }}</h2>
      <div>{{ "Monthly Payment" | t }}: <span class="monthlyPayment"></span></div>
      <div>{{ "Total Principal" | t }}: <span class="totalPrincipal"></span></div>
      <div>{{ "Total Interest" | t }}: <span class="totalInterest"></span></div>
    </div>

    <div class="payment-schedule" style="display: none;">
      <h2>{{ "Payment Schedule" }}</h2>

      <table class="amortization-schedule">
        <thead>
        <tr>
          <th>{{ "Installment" | t }}</th>
          <th>{{ "Payment" | t }}</th>
          <th>{{ "Principal" | t }}</th>
          <th>{{ "Interest" | t }}</th>
          <th>{{ "Total Interest" | t }}</th>
          <th>{{ "Balance" | t }}</th>
        </tr>
        <tbody></tbody>
      </table>
    </div>
  </form>

</div>
