<div{{ attributes }}>
  <ul>
    {% if services.one|length %}<li class="{{- services.one -}}"><a href="{{- urls.one -}}">{{ services.one }}</a></li>{% endif %}
    {% if services.two|length %}<li class="{{- services.two -}}"><a href="{{- urls.two -}}">{{ services.two }}</a></li>{% endif %}
    {% if services.three|length %}<li class="{{- services.three -}}"><a href="{{- urls.three -}}">{{ services.three }}</a></li>{% endif %}
    {% if services.four|length %}<li class="{{- services.four -}}"><a href="{{- urls.four -}}">{{ services.four }}</a></li>{% endif %}
  </ul>
</div>
